@charset "UTF-8";
body {
    color:  #249264;
    background-image: url();
}
p {
text-align: justify;
text-indent: 50px;
}

/* Formatação do Menu */

nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -78px;
    left: 450px;
}
nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 9px;
    margin: 2px;
    
}

nav#menu li:hover {
    background-color: rgb(21, 146, 108);
    transition: 1s;
}

nav#menu a {
    color: rgb(25, 214, 120);
    text-decoration: none;
}

nav#menu a:hover {
   color: rgb(57, 214, 167);
   text-decoration: underline;

}


